/****************************************GENERAL*****************************/
*
{
    margin : Opx;
    padding: Opx;

}

body
{
    background-image: url(https://media.giphy.com/media/LndB6H5wjQPomk2njp/giphy.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

nav li 
  {
    font-family: 'Peddana', serif;
    padding: 25px;
 
  }
  

/*********************************************HEADER**************************/
header 
{
    box-sizing: border-box;
    position: relative;   
    display: flex;
    align-self: center;
    top: 0px;
    background-color:rgba(0, 0, 0, 0.5);
    margin: 0px;
  }
  
  #listeNavTop 
  {
    font-family: 'Peddana', serif;
    border-radius: 25px;
    top:0;
  }

  nav li 
  {
    font-family: 'Peddana', serif;
    padding: 25px;
 
  }
  
  img{
    padding-left: 40px;
    -webkit-transition: 3s ease-in-out;
    -moz-transition: 3s ease-in-out;
    -o-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
  }
  
  img:hover
  {
    -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(100em,0);
  }
  

  /*************************************************LIENS****************/
  ul 
  {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  li 
  {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  
  
 
   
  a
  {
      color: white;
      font-size: 1.3em;
      text-decoration: none;

      
  }
  
  a:hover
  {
    color: #39FF14;

  }

  /****************************FOOTER***************************************/
  footer
{
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 25px;
    bottom: 0px;
    margin: 0px;
    font-size: 1.5em;
}



/****************************INSCRIPTION*****************************/

.inscription
{
    color: white;
    font-size: 1.5em;
    position: relative;
    margin-top: 340px;
    left: 50%;
    width: 400px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.inscription .user-box 
{
  position: relative;
}


.inscription .user-box input 
{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.inscription .user-box label 
{
  position: relative;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.inscription .user-box input:focus ~ label,
.inscription .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 12px;
}

.inscription form a 
{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

